$base-font-size: 18px;
$base-font-family: 'Open Sans', sans-serif;
$primary-font-color: rgba(47,48,47,1);

/* Colors */
$bg_gradient_start: rgba(218,223,202,1);
$bg_gradient_end: rgba(255,255,255,1);
$bg_grey: rgba(102,102,102,1);
$bg_nav: rgba(0,0,0,.38);
$green: rgba(177,204,1,1);
$green_text: rgba(193,215,46,1);
$white: rgb(255,255,255);
$rule: rgba(218,223,202,1);

/* Weights */

$lt: 300;
$reg: 400;
$bold: 700;
